Builds/
**/JuceLibraryCode/
.DS_Store
*.user
xcuserdata/
*.mode1v3
*.pbxuser
DerivedData/
*.app
tools/band_split_verify
tools/engine_passthrough_verify
tools/diode_curve_verify
tools/diode_aliasing_verify
tools/tube_curve_verify
tools/tube_aliasing_verify
tools/tube_device_verify
tools/tube_stage_verify
tools/family_curves_verify
